{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <form id="authForm" action="/" method="post">
        <h2 id="formTitle">Generate QR Code</h2>
        
        <div class="form-group">
            <label for="url" style="font-size: 15px">Paste or Type the link</label>
            <input type="text" id="url" name="url" required autocomplete="off" autofocus placeholde="Link Url">
        </div>
        <button type="submit" id="submitButton">Generate</button>
    </form>

    {% if qr_code %}
        <div class="qr-code-container">
            <img src="{{ qr_code }}" alt="QR Code">
        </div>    
    {% endif %}
</div>
{% endblock %}