<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-title">
                <a href="/">QR Code</a>
            </div>
            {% if session["user_id"] %}
            <div class="navbar-links" id="navbarLinks">
                <a href="/">Generate</a>
                <a href="about">About</a>
            </div>
            <button class="navbar-toggle" id="navbarToggle">
                <span class="navbar-toggle-icon"></span>
                <span class="navbar-toggle-icon"></span>
                <span class="navbar-toggle-icon"></span>
            </button>
            {% else %}
            <div class="navbar-links" id="navbarLinks">
                <a href="login">Login</a>
                <a href="register">Register</a>
                <a href="about">About</a>
            </div>    
            <button class="navbar-toggle" id="navbarToggle">
                <span class="navbar-toggle-icon"></span>
                <span class="navbar-toggle-icon"></span>
                <span class="navbar-toggle-icon"></span>
            </button>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-name">
                <p>By Matheus de Alcântara</p>
            </div>
            <div class="footer-links">
                <a href="mailto:dealcantaramatheus1@gmail.com">Email</a>
                <a href="https://www.linkedin.com/in/matheus-campos-2a3b59264/" target="_blank">LinkedIn</a>
                <a href="https://github.com/matheusdealcantara" target="_blank">GitHub</a>
            </div>
        </div>
    </footer>
    

    <script>
        document.getElementById('navbarToggle').addEventListener('click', function() {
            var links = document.getElementById('navbarLinks');
            links.classList.toggle('active');
        });
    </script>
</body>
</html>
